@use '../custom' as *;

.pricing {
    width: 100%;
    background-color: $text;
    color: $lightText;
    margin-top: 6rem;

    .pricing-content {
        text-align: center;
        margin-top: 4rem;
        width: 40%;

        margin-left: 50%;
        transform: translateX(-50%);

        h1 {
            font-weight: 500;
        }
        img {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
        p {
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
    .pricing-info {
        width: 80%;
        justify-content: space-between;

        margin-left: 50%;
        transform: translateX(-50%);
        padding-top: 3rem;
        padding-bottom: 3rem;

        .pricing-left {
            background-color: $lightText;
            color: $text;
            border-radius: 1rem;
            width: 30%;
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            margin-top: 2rem;
    
            .pricing-left-content {
                width: 60%;
                margin-top: 3rem;
                text-align: center;
    
                margin-left: 50%;
                transform: translateX(-50%);
    
                h1 {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
            }
            .pricing-left-price {
                width: 70%;

                margin-left: 50%;
                transform: translateX(-50%);

                h2 {
                    font-size: 4rem;
                    margin-left: 2rem;
                }
                h3 {
                    margin-top: 1rem;
                    font-size: 1rem;
                }
                p {
                    font-size: 0.7rem;
                    margin-top: -0.3rem;
                }
            }
            ul {
                list-style-type: none;
                text-align: center;
                
                li {
                    margin-top: 1rem;
                }
            }
            button {
                margin-left: 50%;
                transform: translateX(-50%);
        
                width: 12.5rem;
                background-color: $primary;
                color: $lightText;
                border-radius: 10rem;
                border: none;
                padding: 0.6rem;
                text-transform: capitalize;
                margin-top: 2rem;
            }
        }

        .pricing-center {
            background-color: $primary;
            color: $lightText;
            border-radius: 1rem;
            width: 30%;
            padding-bottom: 2rem;

            .pricing-center-content {
                width: 60%;
                margin-top: 5rem;
                text-align: center;
    
                margin-left: 50%;
                transform: translateX(-50%);
    
                h1 {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
            }
            .pricing-center-price {
                width: 70%;

                margin-left: 50%;
                transform: translateX(-50%);

                h2 {
                    font-size: 4rem;
                }
                h3 {
                    font-size: 1rem;
                    margin-top: 1rem;
                }
                p {
                    font-size: 0.8rem;
                    margin-top: -0.3rem;
                }
            }
            ul {
                list-style-type: none;
                text-align: center;
                
                li {
                    margin-top: 1rem;
                }
            }
            button {
                margin-left: 50%;
                transform: translateX(-50%);
        
                width: 12.5rem;
                background-color: $lightText;
                color: $primary;
                border-radius: 10rem;
                border: none;
                padding: 0.6rem;
                text-transform: capitalize;
                margin-top: 2rem;
            }
        }
        
        .pricing-right {     
            background-color: $lightText;
            color: $text;
            border-radius: 1rem;
            width: 30%;
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            margin-top: 2rem;

            .pricing-right-content {
                width: 60%;
                margin-top: 3rem;
                text-align: center;
    
                margin-left: 50%;
                transform: translateX(-50%);
    
                h1 {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
            }
            .pricing-right-price {
                width: 70%;

                margin-left: 50%;
                transform: translateX(-50%);

                h2 {
                    font-size: 4rem;
                }
                h3 {
                    font-size: 1rem;
                    margin-top: 1rem;
                }
                p {
                    font-size: 0.8rem;
                    margin-top: -0.3rem;
                }
            }
            ul {
                list-style-type: none;
                text-align: center;
                
                li {
                    margin-top: 1rem;
                }
            }
            button {
                margin-left: 50%;
                transform: translateX(-50%);
        
                width: 12.5rem;
                background-color: $primary;
                color: $lightText;
                border-radius: 10rem;
                border: none;
                padding: 0.6rem;
                text-transform: capitalize;
                margin-top: 2rem;
            }
        }
    }
    @include media-breakpoint-between(md, lg) {
        .pricing-content {
            width: 90%;

            h1 {
                font-size: 5rem;
            }
            p {
                font-size: 3rem;
                margin-top: 3rem;
            }
        }
        .pricing-info {
            width: 100%;

            .pricing-left {
                width: 100%;

                .pricing-left-content {
                    width: 40%;
                    margin-top: 3rem;

                    h1 {
                        font-size: 2.5rem;
                    }
                    p {
                        font-size: 1.5rem;
                    }
                }
                .pricing-left-price {
                    width: 50%;

                    h2 {
                        font-size: 7rem;
                        margin-left: 5rem;
                    }
                    h3 {
                        margin-top: 2rem;
                        margin-left: -1rem;
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1.4rem;
                        margin-left: -1rem;
                        margin-top: -0.3rem;
                    }
                }
                ul {
                    li {
                        margin-top: 2rem;
                        font-size: 2rem;
                    }
                }
                button {
                    width: 50%;
                    font-size: 2rem;
                    padding: 1.5rem;
                    margin-top: 5rem;
                    margin-bottom: 3rem;
                }
            }
            .pricing-center {
                width: 100%;

                .pricing-center-content {
                    width: 40%;
                    margin-top: 3rem;

                    h1 {
                        font-size: 2.5rem;
                    }
                    p {
                        font-size: 1.5rem;
                    }
                }
                .pricing-center-price {
                    width: 50%;

                    h2 {
                        font-size: 7rem;
                        margin-left: 2rem;
                    }
                    h3 {
                        margin-top: 2rem;
                        margin-left: -1rem;
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1.4rem;
                        margin-left: -1rem;
                        margin-top: -0.3rem;
                    }
                }
                ul {
                    li {
                        margin-top: 2rem;
                        font-size: 2rem;
                    }
                }
                button {
                    width: 50%;
                    font-size: 2rem;
                    padding: 1.5rem;
                    margin-top: 5rem;
                    margin-bottom: 3rem;
                }
            }
            .pricing-right {
                width: 100%;

                .pricing-right-content {
                    width: 40%;
                    margin-top: 3rem;

                    h1 {
                        font-size: 2.5rem;
                    }
                    p {
                        font-size: 1.5rem;
                    }
                }
                .pricing-right-price {
                    width: 50%;

                    h2 {
                        font-size: 7rem;
                        margin-left: 1.5rem;
                    }
                    h3 {
                        margin-top: 2rem;
                        margin-left: -1rem;
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1.4rem;
                        margin-left: -1rem;
                        margin-top: -0.3rem;
                    }
                }
                ul {
                    li {
                        margin-top: 2rem;
                        font-size: 2rem;
                    }
                }
                button {
                    width: 50%;
                    font-size: 2rem;
                    padding: 1.5rem;
                    margin-top: 5rem;
                    margin-bottom: 3rem;
                }
            }
        }
    }
}